################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/B+Tree/B+Tree.vcxproj.user
/B+Tree/B+Tree.vcxproj.filters
/B+Tree/B+Tree.vcxproj
/B+Tree/B+Tree.sln
/B+Tree/.vs/B+Tree/v16/Browse.VC.opendb
/B+Tree/.vs/B+Tree/v16/Browse.VC.db-wal
/B+Tree/.vs/B+Tree/v16/Browse.VC.db-shm
/B+Tree/.vs/B+Tree/v16/Browse.VC.db
/B+Tree/.vs/B+Tree/v16/.suo
/B+Tree/.vs/B+Tree/v16
/B+Tree
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Jungle/v16/Browse.VC.db
/.vs/Jungle/v16/.suo
/.vs/Jungle/v16
/.vs
